header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    height: 60px;
    font-family: Golos;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 40px;
}
.frame1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.bell{
    width: 20px;
    height: 20px;
}
.bell:hover{
    cursor: pointer;
}
.breadcrumbs{
    display: flex;
    align-items: center;
    color: rgba(125, 135, 140, 1);
    font-size: 13px;
    height: 20px;
    gap: 8px;
}
.breadcrumbsroot:hover{
    text-decoration: underline;
    cursor: pointer;
}
h1{
    margin: 0;
    font-size: 28px;
    font-family: GolosBold;
    color: rgba(29, 38, 42, 1);
    ;
}
h4{
    margin: 0;
    font-family: Golos;
    font-size: 10px;
    color: rgba(125, 135, 140, 1);
}

.frame2{
    display: flex;
    align-items: center;
    gap: 24px;
}
.Avatar{
    width: 32px;
    height: 32px;
}
.Name{
    font-size: 13px;
}
.profile{
    display: flex;
    gap: 8px;
}
.profile:hover{
    cursor: pointer;
}