@font-face {
  font-family: 'Golos';
  src: url('./Font/GolosText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GolosBold';
  src: url('./Font/GolosText-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('./Font/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('./Font/Inter-Regular.ttf') format('truetype');
}
